<launch>
    <arg name="v_max" default="3"/>
    <arg name="a_max" default="2"/>
    <arg name="s_max" default="3"/>
    <arg name="latacc_max" default="2"/>
    <arg name="tire_angvel_max" default="0.5"/>
    <arg name="tire_angvel_thr" default="0.1"/>
    <arg name="vel_min_for_tire" default="1.0"/>
    <arg name="wheelbase" default="2.9"/>
    <arg name="max_iter" default="20"/>
    <arg name="replanning_mode" default="True"/>
	
    <node pkg="qp_speed_replanner" name="qp_speed_replanner" type="qp_speed_replanner" output="screen">
        <param name="v_max" value="$(arg v_max)"/>
        <param name="a_max" value="$(arg a_max)"/>
        <param name="s_max" value="$(arg s_max)"/>
        <param name="latacc_max" value="$(arg latacc_max)"/>
        <param name="tire_angvel_max" value="$(arg tire_angvel_max)"/>
        <param name="tire_angvel_thr" value="$(arg tire_angvel_thr)"/>
        <param name="vel_min_for_tire" value="$(arg vel_min_for_tire)"/>
        <param name="wheelbase" value="$(arg wheelbase)"/>
        <param name="max_iter" value="$(arg max_iter)"/>
        <param name="replanning_mode" value="$(arg replanning_mode)"/>
    </node>
</launch>